
<div class="main-container">
        <div class="container-fluid">
          <div class="d-flex flex-row justify-content-between">
              <h3>Liste de todo du : {{ dateNow() }} </h3>
              <button class="btn" (click)="onClickCreate()"><i class="material-icons create-todo">control_point</i></button>
          </div>
          <div *ngFor="let todo of todos; let i = index">
            <li
              class="list-group-item d-flex flex-row justify-content-between"
            >
            <div class="icon-button">
                <a class="btn"><i class="material-icons">{{todo.done ?  'check_box' : 'check_box_outline_blank'}}</i></a>
            </div>
              <!-- {{ todo.done ?  'check_box' : 'check_box_outline_blank'}} -->
              <p fxFlex="auto"> <span class="id-todo">{{todo.idTodo}}</span> {{todo.message}} </p>
              <div>
                  <button class="btn btn-primary mr-2" (click)="onClickEdit(todo.idTodo)">edit</button>
                  <button class="btn btn-danger" (click)="deleteTodo(todo.idTodo)">Supprimer</button>
              </div>
            </li>  
          </div>
      </div>
    </div>