
<div class="container main-container">
    <h2>Car List</h2>
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th>Couleur</th>
            <th>Marque</th>
            <th>Modele</th>
            <th>Prix</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let car of cars" [style.backgroundColor]="rowSelected === car.idCar ? '#eee' : 'transparent'">
            <td> {{car.couleur}} </td>
            <td> {{car.marque}} </td>
            <td> {{car.model}} </td>
            <td> {{car.prix}} </td>
            <td> <i class="fas fa-info-circle" style="color: green; cursor: pointer;" (click)="onClickDetails(car)"></i> </td>
        </tr>
        </tbody>
    </table>
</div>

<hr class="container">

<div class="container sub-container">
    <div class="app-details">
        <app-car-details [car]="carDetails" (onClickSelectRow)="selectedRow($event)"></app-car-details>
    </div>
</div>