
<div class="main">
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Usernam = {{ username }} </li>
        <li class="list-group-item">Password =  {{ password }} </li>
        <li class="list-group-item">Date =  {{ dateNow() }} </li>
        <li
            *ngIf="isConnected"
            class="list-group-item"
            style="color: red;"
            >
            User is connected
        </li>

        <ng-template [ngIf]="testNgTemplate">
            <li class="list-group-item">test </li>
        </ng-template>

    </ul>

    <button class="btn btn-success" (click)="onClickConnected()">Connexion</button>

    <div class="input-group mb-3" style="margin-top: 25px;">
        <input
            type="text"
            class="form-control"
            [placeholder]="value"
            [(ngModel)]="value"
        >
    </div>
    <div>
        <p>Event Binding</p>
        <button type="button" class="btn btn-primary" (click)="onClick()">Valider</button>
    </div>
</div>