
<div class="main">
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Username = {{ username }} </li>
        <li class="list-group-item">Password =  {{ password }} </li>
        <li class="list-group-item">Date =  {{ dateNow() }} </li>
    </ul>

    <div class="input-group mb-3" style="margin-top: 25px;">
        <input
            type="text"
            class="form-control"
            [placeholder]="value"
            [(ngModel)]="value"
        >
    </div>
    <div>
        <p>Event Binding</p>
        <button type="button" class="btn btn-primary" (click)="onClick()">Valider</button>
    </div>
</div>